<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.zhouyi_20">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.Main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="example.com.zhouyi_20.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.Suangua_Result"></activity>
        <activity android:name=".activity.mine.mine_about"/>
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.DivinationInfo" />
        <activity android:name=".activity.mine.info_main"></activity>
        <activity android:name=".activity.mine.util.PermissionsActivity"></activity>
        <activity android:name=".activity.NewRecord"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.liuyao.LiuYaoJinqiangua"/>
        <activity android:name=".activity.Ziding.Zidinggua"/>
        <activity android:name=".activity.Number.Numbergua"/>



    </application>

</manifest>